header {
  top: 0;
  width: 100%;
  padding: 16px 0;
  position: sticky;
  z-index: 99;
  border-bottom: 1px solid $input_stroke;

  &.sticky {
    box-shadow: rgba(0, 0, 0, 0.035) 0px 2.45093px 8.98675px 0px;
    background: $white;
    z-index: 100;
  }

  nav {
    display: flex;
    .logo {
      display: flex;
      flex: 1;
      img {
        object-fit: contain;
        height: 50px;
      }
    }

    .nav_items {
      flex: 2;
      gap: 42px;
      @include centerFlex();
      a {
        color: $black;
        font-size: 14px;
        &:hover,
        &.active {
          color: $main;
        }
      }
    }

    .actions {
      flex: 1;
      gap: 16px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .dropdown-toggle {
        background: none;
        border: none;
        color: $black;
        padding: 8px 12px;
        font-size: 14px;
        &:active {
          color: $black;
          background-color: transparent !important;
        }
      }

      .input_field {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        gap: 4px;
        label {
          font-size: 14px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        select {
          width: 100%;
          padding: 8px 4px;
          font-size: 14px;
          border: 1px solid $input_stroke;
          border-radius: 4px;
        }
      }

      .dropdown-menu {
        min-width: 15rem;
        padding: 16px;
      }

      .login {
        font-size: 14px;
        background: $black;
        color: $white;
        border-radius: 120px;
        padding: 8px 20px;
        transition: $transition;
        box-shadow: $shadow;
      }
    }
  }
}

.footer {
  background-image: url("/images/footer.jpg");
  font-size: 14px;

  .logo {
    filter: brightness(0) invert(1);
    img {
      object-fit: contain;
      height: 50px;
    }
  }

  h5 {
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 20px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 80px;
      height: 2px;
      background: radial-gradient(
        90% 100% at 100% 20%,
        #54a0c4,
        rgba(238, 238, 238, 0)
      );

      bottom: -2px;
      right: 0;
    }
  }

  .about {
    max-width: 340px;
  }

  .newsletter {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 8px;
  }

  a {
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: $main;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    li {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  .newsletter-form {
    display: flex;
    align-items: center;
    background: $white;
    border-radius: 100px;
    max-width: 360px;
    padding: 8px;
    input {
      border-radius: 0;
      padding: 8px;
      box-shadow: none;
      border: none;
      font-size: 14px;
    }

    button {
      background-color: $main;
      border: none;
      border-radius: 0;
      padding: 8px 16px;
      color: $white;
      border-radius: 80px;

      &:hover {
        background-color: #0da7c3;
      }
    }
  }

  .copyrights {
    margin-top: 16px;
    @include space-between();
    border-top: 1px solid #333;
    padding: 24px 0 8px;
    p {
      margin-bottom: 0;
    }
  }

  .social-icons {
    display: flex;
    align-items: center;
    gap: 24px;
    a {
      color: $white;
      transition: $transition;
      @include centerFlex();
      width: 20px;
      i {
        font-size: 16px;
      }
      &:hover {
        color: $main;
      }
    }
  }
}

.header-section {
  padding: 5rem 0;
  background: linear-gradient(135deg, #54a0c4 0%, #60a0bd 100%);
  position: relative;
  overflow: hidden;

  .shape-left,
  .shape-right {
    position: absolute;
    top: 50%;
    width: 220px;
    transform: translateY(-50%);
    z-index: 1;
    @media (max-width: 576px) {
      width: 140px;
    }
    img {
      width: 100%;
      filter: brightness(0) invert(1);
    }
  }

  .shape-left {
    left: -75px;
  }

  .shape-right {
    right: -75px;
  }

  .container {
    position: relative;
    z-index: 2;
    text-align: center;

    .header-title {
      color: #fff;
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
      letter-spacing: 1px;
      @media (max-width: 576px) {
        font-size: 1.5rem;
      }
    }

    .header-description {
      color: #e0f7fa;
      font-size: 1rem;
      font-weight: 400;
      max-width: 600px;
      margin: 0 auto;
      line-height: 1.8;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
      @media (max-width: 576px) {
        font-size: 0.5rem;
      }
    }
  }
}

.blogs-page {
  padding: 40px 0;
}

.flight_details_modal {
  .modal-dialog {
    margin: 0 auto !important;
  }
  .modal-content {
    height: 100vh;
    border-radius: 0 !important;
  }
  .modal-body {
    position: relative;
    padding: 0 !important;
    background: $input_bg;
    .header {
      width: 100%;
      background: $input_stroke;
      padding: 12px 16px;
      @include space-between();
      h6 {
        font-size: 16px;
        margin-bottom: 0;
      }
    }

    .itinerary {
      padding: 24px;

      .title {
        font-size: 14px;
        color: $gray;
      }

      .details {
        display: flex;
        align-items: center;
        gap: 8px;

        .flight {
          flex: 1;
          background: $white;
          border: 1px solid $input_stroke;
          border-radius: 8px;
          padding: 16px;
          display: flex;
          height: 100%;
          flex-direction: column;
          gap: 8px;

          h6 {
            font-size: 14px;
            margin-bottom: 0;
            color: $input_hint;
          }

          .airports {
            display: flex;
            gap: 16px;

            span {
              font-size: 12px;
              color: $input_hint;
              display: block;
            }

            h6 {
              color: $black;
            }

            .icon {
              padding-top: 18px;
            }

            .airPort {
              display: flex;
              flex-direction: column;
              gap: 4px;
              &.last {
                text-align: end;
              }
            }
          }
        }
      }

      .price {
        @include space-between();
        h5 {
          font-size: 18px;
          margin-bottom: 0;
          display: flex;
          align-items: center;
          gap: 16px;
          span {
            font-size: 12px;
            color: $gray;
          }
        }
        .bookNow {
          background: #21a024;
          color: $white;
          font-size: 14px;
          padding: 8px 24px;
          border-radius: 80px;
        }
      }
    }
  }
}
