.profile-container {
  display: flex;
  gap: 30px;
  padding: 40px 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 20px 10px;
    gap: 20px;
  }

  .profile-sidebar {
    min-width: 280px;
    padding: 30px 20px;

    @media (max-width: 768px) {
      width: 100%;
      padding: 20px 15px;
    }

    .profile-header {
      padding-bottom: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 15px;

      @media (max-width: 576px) {
        flex-direction: column;
        text-align: center;
      }

      .avatar {
        width: 60px;
        height: 60px;
        border: 2px solid $main;
        color: $main;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
      }

      h5 {
        font-weight: 600;
        color: #333;
        margin-bottom: 5px;
      }

      .email {
        color: $gray;
        font-size: 0.9rem;
      }
    }

    .profile-menu {
      list-style: none;
      padding: 0 1rem;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media screen and (max-width: 991px) {
        flex-direction: row;
      }
      li a {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 12px 15px;
        border-radius: 6px;
        text-decoration: none;
        color: #333;

        i {
          color: #666;
        }

        .menu-text {
          font-size: 1rem;
          font-weight: 500;
        }

        &.active {
          color: $main;

          i {
            color: $main;
          }
        }
      }
    }
  }

  .profile-content {
    flex-grow: 1;
    padding: 30px;

    @media (max-width: 768px) {
      padding: 20px 15px;
    }
  }
}

////
.payment-methods {
  background-color: #f8f9fa;
  border-radius: 12px;
  padding: 1.5rem;
  .payment_title {
    margin-bottom: 10px;
  }
  .payment_subtitle {
    color: $gray;
    margin-bottom: 18px;
    font-size: 14px;
  }
  .methods-grid {
    .icon {
      width: 30px;
      height: 30px;
      object-fit: contain;
      margin: 0 10px;
    }
    .method {
      display: flex;
      align-items: center;
    }
    .form-check-input {
      cursor: pointer;
      transition: all 0.3s ease;
      &:checked {
        background-color: $main;
        border-color: $main;
      }
    }

    .form-check-label {
      cursor: pointer;
      font-weight: 500;
      font-size: 1rem;
      display: flex;
      align-items: center;
    }
  }
  .custom-btn {
    display: block;
    margin: 30px auto 0 auto;
  }
}

@media (max-width: 576px) {
  .payment-methods {
    padding: 1rem;
  }

  .methods-grid {
    .form-check-label {
      font-size: 0.9rem;
    }
  }
}
/////
.trips-container {
  padding: 1.5rem;

  .tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.5rem;

    .tab {
      flex: 1;
      padding: 0.5rem;
      text-align: center;
      font-weight: 500;
      cursor: pointer;
      color: $gray;

      &.active {
        color: $main;
        border-bottom: 3px solid $main;
      }
    }
  }

  .trip-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .trip-card {
    background: $white;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    &__top {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      font-weight: 500;
      color: #333;

      i {
        margin:0px 10px;
        color: $gray;
      }
    }

    &__times {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        i {
          color: $main;
          font-size: 18px;
        }

        strong {
          font-size: 17px;
          color: #333;
        }
      }
    }

    &__duration {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;

      i {
        font-size: 16px;
        color: $gray;
      }

      span {
        font-size: 12px;
        color: #666;
      }
    }

    &__details {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      color: #555;

      i {
        margin-right: 6px;
        color: $gray;
      }
    }

    &__price {
      font-size: 18px;
      font-weight: bold;
      color: #222;
    }
  }

  .no-data {
    text-align: center;
    color: #888;
    margin-top: 2rem;
  }
}


.custom-btn {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.75rem 1.5rem;
  background-color: $main;
  color: $white;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

.myprofile-container {
  padding: 1.5rem;

  .profile_title {
    margin-bottom: 10px;
  }

  .profile_content {
    margin-top: 30px;

    .card {
      margin-bottom: 1.5rem;

      .card-header {
        display: flex;
        justify-content: space-between;
        button {
          background-color: transparent;
          border: none;
        }
        .card-title{
          font-weight: bold;
          color: $main;
          margin-top: 10px;
        }
      }

      .card-body {
        display: flex;
        flex-wrap: wrap;

        .col-md-6 {
          margin-bottom: 1rem;

          .lable {
          font-weight: bold;
          }
          input.form-control {
            width: 100%;
          }
        
        }
      }
    }
  }
}
